#include <windows.h>
#include "resource.h"

WINWIZICO       ICON    "scroll.ico"

//*******************************************************************
//  main dialog
//*******************************************************************
// IDD_MAIN_DIALOG DIALOG DISCARDABLE  160, 40, 350, 370
IDD_MAIN_DIALOG DIALOGEX  160, 40, 350, 250
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
// EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Terminal utility"
FONT 10, "Times New Roman"
BEGIN
   DEFPUSHBUTTON  "Add line to terminal", IDB_ADD_LINE,  10, 5, 100, 12
   PUSHBUTTON     "Close",                IDB_CLOSE,    115, 5, 100, 12
END

